*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: Cambria;   
}

p{
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
    color: teal;

}
h1{
    font-size: 2.5rem;
    text-align: center;
    color: cornflowerblue;
}
h2{
    color: cornflowerblue;
    font-size: 1.9rem;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid li{
    list-style: none;
    background-color: #FBE0A5;
    color: teal;
    border: 3px solid white;
    padding: 10px;
}

.grid li strong{
    font-family: Arial;
    color: lightcoral;
}